<div class="mult-obs">
  <p>Las suscripciones múltiples pueden hacerse en paralelo o en serie:</p>
  <ul>
    <li><strong>Paralelo</strong>: no importa el resultado de la observable anterior.</li>
    <li><strong>En serie</strong>: utilizando resultados de observables previas en otras observables.</li>
  </ul>
  <p>Para estos ejemplos se ha creado el servicio <strong>obs</strong>.</p>
  <p>En consola se ve cómo se devuelve un JSON con un usuario de GitHub haciendo uso de su API.</p>
  <br>
</div>

<div>
  <button class="multiple" mat-flat-button routerLink="/mult-obs-paralelo">Paralelo</button>
  <button class="multiple" mat-flat-button routerLink="/mult-obs-serie">Serie</button>
</div>
