<nav>
  <button routerLink="/welcome">Home</button>
  <button routerLink="/time-out">SetTimeOut</button>
  <button routerLink="/interval">Interval-Timer</button>
  <button routerLink="/from-event">fromEvent</button>
  <button routerLink="/map-filter">Map y Filter</button>
  <button routerLink="/tap">Tap</button>
  <button routerLink="/share">Share</button>
  <button routerLink="/concat">Concat</button>
  <button routerLink="/next">Next-Error-Complete</button>
  <button routerLink="/buffer">bufferTime</button>
  <button routerLink="/switch">switchMap</button>
  <button routerLink="/fork">forkJoin</button>
  <button routerLink="/concat-map">concatMap</button>
  <button routerLink="/merge-map">mergeMap</button>
  <button routerLink="/mult-obs">Observables múltiples</button>
  <button routerLink="/scan">Scan</button>
  <button routerLink="/subject">Subject</button>
  <button routerLink="/multicast">Multicast</button>
  <button routerLink="/replay-subject">replaySubject</button>
  <button routerLink="/behav-subject">behaviorSubject</button>
  <button routerLink="/debounce">debounceTime</button>
  <button routerLink="/create-generate">Create vs Generate</button>
</nav>
<br>
<router-outlet></router-outlet>
